/* Barend scss */
$primary-blue: #33A2FB;
$secondary-blue: #54C3FD;
$primary-yellow: #F2CE25;
$primary-red: #BA1610;

* {
  background-image:url("../mehdi/IMG/arenaarena.jpg");
}

.card-deck {
  display: flex;
  justify-content: center;
  align-content: center;
}
#pc-card-deck{
  max-width: 7rem;
}
#pc-cards {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card {
  max-width: 7rem;
}
#pc-hp {
  background: $primary-red;
  color: $primary-yellow;
  max-width: 50%;
}
#pc-progress-bar {
  width: 75%;
}

h1 {
  color: $primary-yellow;
  display: flex;
  justify-content: center;
  align-content: center;
}
#player-card-choice {
  max-width: 7rem;
}
#pc-card-choice {
  max-width: 7rem;
}
p {
  color: $primary-yellow;
  display: flex;
  justify-content: center;
  align-content: center;
}

#middle-cards {
  display: flex;
  justify-content: center;
  align-content: center;
}
#player-card-deck {
  max-width: 7rem;
}
#player-hp {
  max-width: 50%;
}
#player-cards {
  display: flex;
  justify-content: center;
  align-content: center;
}
#player-progress-bar {
  width: 58%;
}
#player-hp {
  background: $primary-red;
  color: $primary-yellow;
}
