/* Mouad scss */

body{
  background: rgb(255,231,59);
  background: radial-gradient(circle, rgba(255,231,59,1) 0%, rgba(255,211,0,1) 37%, rgba(203,73,46,1) 100%);;
}

header img{
  width: 45%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#aboutush1{
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5rem;
}

.aboutush2{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
}

.kaderDiv{
  margin-top: 1%;
  background-image: linear-gradient(to bottom, #ffeb19, #ffda0c, #ffca05, #feb906, #fba90d);
  height: 750px;
  margin-left: 10%;
  margin-right: 10%;
}

.homeknop, .arenaknop,.aboutusknop {
  color: white;
  text-decoration: none;

}
.arenaknop,.aboutusknop{
  padding-left: 3%;
}
.homeknop, .arenaknop,.aboutusknop:link {
  text-decoration: none;
}

.homeknop, .arenaknop,.aboutusknop:visited {
  text-decoration: none;
}

.homeknop, .arenaknop,.aboutusknop:hover {
  text-decoration: none;
}

.homeknop, .arenaknop,.aboutusknop:active {
  text-decoration: none;
}


#pic-one, #pic-three, #pic-four, #pic-five {
  transform: rotate(90deg);
  border-radius:25px;
}
#pic-two{
  transform: rotate(-90deg);
  border-radius:25px;

}

.fotos {

  margin-top: 4%;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}
.aboutushome{
  text-align: center;
  margin-top: 3%;

  height: 83%;
  max-height: 83%;
  width: auto;
  max-width: 100%;
}
.paragraaf{
  padding-left: 15%;
  padding-right: 15%;
}
.paragraaf2{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 71px;
  font-family: "Times New Roman", Times, serif;

}



#menuknop{
  color: white;
  font-size: 1.5rem;
}
