@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Righteous&display=swap');

body {
    margin: 0 auto;
    width:100%;
    height:750px;
    background: #d4fc79; background: -moz-linear-gradient(to top,  #d4fc79 0%,#96e6a1 100%); background: -webkit-linear-gradient(to top,  #d4fc79 0%,#96e6a1 100%); background: linear-gradient(to top,  #d4fc79 0%,#96e6a1 100%);
    background-image: url("IMG/background-fade.png");
    background-repeat: no-repeat;
    background-position: right 0px bottom -190px;
    font-family: 'Righteous', cursive;
    position:relative;
    overflow:hidden;
    z-index:-1;
}

#right-container {
    width:380px;
    height:627px;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    right: 0px;
    border-right: 10px solid white;
    z-index:0;

}

#left-container {
    width:380px;
    height:627px;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    border-left: 10px solid red;
}


#arena {
    bottom: 140px;
    position:absolute;
    left:420px;
    top:70px;


}

#poke-arena {
    transform: rotate(90deg);
    position:absolute;
    z-index:0;

}
#player-choice {
    position:absolute;
    z-index:1;
    left:80px;
    top:150px;
    width:150px;
    height:200px;
}

#computer-choice {
    position: absolute;
    z-index: 1;
    left: 283px;
    top:150px;
    width:150px;
    height:200px;
}
#player-deck {
    position:absolute;
    width:190px;
    height:235px;
    bottom:-10px;
    background-color: rgba(217, 30, 24, 0.6);
    right: -30px;
    border-radius: 25px 25px 0 0;
    border:2px solid rgba(255,255,255,0.6);

}

#pc-deck {
    position:absolute;
    width:190px;
    height:235px;
    bottom:-10px;
    background-color: rgba(34, 167, 240, 0.6);
left: -30px;
border-radius: 25px 25px 0 0;
border:2px solid rgba(255,255,255,0.6);

}


#team-rocket {

    width:150px;
    height:180px;
    right: 30px;
    position:absolute;
    top:10px;


}




#back-one {
    width:150px;
    height:180px;
    position:absolute;
    top:10px;
    left:10px;
}

#back-two {
    width:150px;
    height:180px;
    position:absolute;
    top:20px;
    left:20px;
}

#back-three {
    width:150px;
    height:180px;
    position:absolute;
    top:30px;
    left:30px;
}

#back-player-one {
    width:150px;
    height:180px;
    position:absolute;
    top:10px;
    right:10px;
}

#back-player-two {
    width:150px;
    height:180px;
    position:absolute;
    top:20px;
    right:20px;
}

#back-player-three {
    width:150px;
    height:180px;
    position:absolute;
    top:30px;
    right:30px;
}

#player-one {

    width:150px;
    height:180px;
    right: 30px;
    position:absolute;
    top:10px;


}
#player-two {

    width:150px;
    height:180px;
    left: 30px;
    position:absolute;
    top:10px;


}
#player-three {

    width:150px;
    height:180px;
    right: 30px;
    position:absolute;
    top:205px;


}
#player-four {

    width:150px;
    height:180px;
    left: 30px;
    position:absolute;
    top:205px;


}
#player-five {
    width:150px;
    height:180px;
    left: 30px;
    position:absolute;
    bottom:50px;
}



